adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
backports.ssl-match-hostname==3.4.0.2
blivet==0.18.34
bottle==0.12.8
Brlapi==0.6.0
buildbot==0.8.8
buildbot-slave==0.8.8
charade==1.0.3
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
configobj==4.7.2
configshell-fb==1.1.11
coverage==3.6b3
cupshelpers==1.0
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
di==0.3
dirspec==13.10
dnspython==1.10.0
docutils==0.12
duplicity==0.6.23
epydoc==3.0.1
ethtool==0.8
firstboot==19.5
freeipa==2.0.0.alpha.0
fros==1.0
html5lib==0.999
httplib2==0.8
iniparse==0.4
initial-setup==0.3.9.12
iotop==0.6
ipapython==3.3.3
IPy==0.75
javapackages==1.0.0
Jinja2==2.7.3
jira==0.29
JPype1==0.5.7
kerberos==1.1
kitchen==1.1.1
kmod==0.1
Landscape-Client==14.12
langtable==0.0.13
lockfile==0.8
logilab-common==0.61.0
lxml==3.3.3
M2Crypto==0.21.1
manhole==1.0.0
MarkupSafe==0.23
meld==3.11.0
netaddr==0.7.5
oauthlib==0.6.3
oneconf==0.3.7
openlmi==0.4.2
PAM==0.4.2
pbr==0.7.0
pexpect==2.4
Pillow==2.3.0
piston-mini-client==0.7.5
policycoreutils-default-encoding==0.1
psutil==1.2.1
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pydot==1.0.2
Pygments==1.6
pygobject==3.12.0
pygpgme==0.3
pyinotify==0.9.4
pykickstart==1.99.43.10
pyliblzma==0.5.3
pylint==1.1.0
pynsca==1.5
pyOpenSSL==0.13.1
pyparsing==1.5.6
pyparted==3.9
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu1
python-augeas==0.4.1
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-default-encoding==0.1
python-ldap==2.4.6
python-meh==0.25
python-nss==0.14.0
pytz==2012d
pyudev==0.15
pywbem==0.7.0
pyxattr==0.5.1
pyxdg==0.25
reportlab==3.0
requests==2.2.1
requests-oauthlib==0.4.1
roman==2.0.0
rtslib-fb==2.1.46
scdate==1.10.6
seobject==0.1
sepolicy==1.1
sessioninstaller==0.0.0
setroubleshoot==1.1
six==1.5.2
slip==0.4.0
slip.dbus==0.4.0
software-center-aptd-plugins==0.0.0
Sphinx==1.2.2
SQLAlchemy==0.8.4
sqlalchemy-migrate==0.8.2
ssh-import-id==3.21
SSSDConfig==1.11.2
system-service==0.1.6
targetcli-fb==2.1.fb34
Tempita==0.5.2
texttable==0.8.2
tlslite==0.4.6
Twisted-Core==13.2.0
Twisted-Mail==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
Twisted-Words==13.2.0
unity-lens-photos==1.0
urlgrabber==3.10
urllib3==1.7.1
urwid==1.1.1
vboxapi==1.0
virtualenv==1.11.4
wsgiref==0.1.2
xdiagnose==3.6.3build2
yum-langpacks==0.4.2
yum-metadata-parser==1.1.4
zope.interface==4.0.5
